[submodule "vim/bundle/gnupg"]
	path = vim/bundle/gnupg
	url = https://github.com/vim-scripts/gnupg.vim.git
[submodule "vim/bundle/git_patch_tags"]
	path = vim/bundle/git_patch_tags
	url = https://github.com/vim-scripts/git_patch_tags.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/tpope/vim-git.git
