[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = git@github.com:tpope/vim-git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = git@github.com:tpope/vim-eunuch
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git@github.com:vim-ruby/vim-ruby
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = git@github.com:tpope/vim-cucumber
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git@github.com:tpope/vim-commentary
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = git@github.com:tpope/vim-endwise
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git@github.com:tpope/vim-markdown
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:tpope/vim-surround
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git@github.com:tpope/vim-repeat
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git@github.com:godlygeek/tabular
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git@github.com:pangloss/vim-javascript
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = git@github.com:elzr/vim-json
[submodule "vim/bundle/projectionist"]
	path = vim/bundle/projectionist
	url = git@github.com:tpope/vim-projectionist
[submodule "vim/bundle/jsx"]
	path = vim/bundle/jsx
	url = git@github.com:mxw/vim-jsx
[submodule "vim/bundle/solarized8"]
	path = vim/bundle/solarized8
	url = git@github.com:lifepillar/vim-solarized8
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = git@github.com:w0rp/ale
[submodule "vim/bundle/deep-space"]
	path = vim/bundle/deep-space
	url = git@github.com:tyrannicaltoucan/vim-deep-space
[submodule "vim/bundle/swift"]
	path = vim/bundle/swift
	url = git@github.com:keith/swift.vim
