<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>homebrew.jfn.ddclient</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/ddclient</string>
		<string>-file</string>
		<string>/usr/local/etc/ddclient/ddclient.conf</string>
	</array>
	<key>LowPriorityIO</key>
	<true/>
	<key>WatchPaths</key>
	<array>
		<string>/usr/local/etc/ddclient/ddclient.conf</string>
	</array>
</dict>
</plist>
